name: Publish

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to Github Package Registry
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"
          registry-url: 'https://registry.npmjs.org'

      - run: npm ci
      - run: npm run test:unit -- --json --outputFile ./report.json
      
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          files: ./report.json

      - run: npm run build
      
      - name: Install semantic-release plugins
        run: npm i --no-save @semantic-release/changelog @semantic-release/git conventional-changelog-conventionalcommits
      
      - name: Create Release
        run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.SEMANTIC_RELEASE_GH_TOKEN }}

      - run: npm run build
      - run: npm publish --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
